/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define ALPHAS   0
#define CONTROL  1
#define NUMCHAR  2
#define QWERTY   3

/ {
    behaviors {
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_DEL";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
        excl_qmark: exclamation_queationmark {
            compatible = "zmk,behavior-mod-morph";
            label = "EXCL_QMARK";
            #binding-cells = <0>;
            bindings = <&kp EXCL>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
//        lpar_lbkt: lparenthesis_lbracket {
//            compatible = "zmk,behavior-mod-morph";
//            label = "LPAR_LBKT";
//            #binding-cells = <0>;
//            bindings = <&kp LPAR>, <&kp LBKT>;
//            mods = <(MOD_LSFT|MOD_RSFT)>;
//            keep-mods = <(MOD_RSFT)>;
//        };
//        rpar_rbkt: rparenthesis_rbracket {
//            compatible = "zmk,behavior-mod-morph";
//            label = "RPAR_RBKT";
//            #binding-cells = <0>;
//            bindings = <&kp RPAR>, <&kp RBKT>;
//            mods = <(MOD_LSFT|MOD_RSFT)>;
//            keep-mods = <(MOD_RSFT)>;
//        };
//        vol_ctrl: volume_control {
//            compatible = "zmk,behavior-mod-morph";
//            label = "VOL_CTRL";
//            #binding-cells = <0>;
//            bindings = <&kp C_VOL_DN>, <&kp C_VOL_UP>;
//            mods = <(MOD_LSFT|MOD_RSFT)>;
//            keep-mods = <(MOD_RSFT)>;
//        };
//        brit_ctrl: brightness_control {
//            compatible = "zmk,behavior-mod-morph";
//            label = "BRIT_CTRL";
//            #binding-cells = <0>;
//            bindings = <&kp C_BRI_UP>, <&kp C_BRI_DN>;
//            mods = <(MOD_LSFT|MOD_RSFT)>;
//            keep-mods = <(MOD_RSFT)>;
//        };
    };
};


/ {
    keymap {
        compatible = "zmk,keymap";

        alphas_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  D  |  R   |  W   |  B   |                       |  J   |  F   |  U    |  P   |   ;   | PSCRN |
// |  TAB  |  A  |  S  |  H   |  T   |  G   |                       |  Y   |  N   |  E    |  O   |   I   | APOS  |
// | SHIFT |  Z  |  X  |  M   |  C   |  V   |                       |  K   |  L   |  ,    |  .   |   !   | RSHFT |
// | CTRL  |  @  |     |      |      |      |       |   |  TOG QWER |      |      |       |      |       | RCTRL |
//                     | GUI  | LALT |LOWER | SPACE |   | BKSPC_DEL | RAISE| ENT  |  ALT  |
            bindings = <
&kp ESC    &kp Q   &kp D   &kp R     &kp W     &kp B                               &kp J   &kp F     &kp U      &kp P    &kp SEMI    &kp PSCRN
&kp TAB    &kp A   &kp S   &kp H     &kp T     &kp G                               &kp Y   &kp N     &kp E      &kp O    &kp I       &kp APOS
&kp LSHFT  &kp Z   &kp X   &kp M     &kp C     &kp V                               &kp K   &kp L     &kp COMMA  &kp DOT  &excl_qmark &kp RSHFT
&kp LCTRL  &kp AT  &trans  &trans    &trans    &trans   &trans         &tog QWERTY &trans  &trans    &trans     &trans   &trans      &kp RCTRL
                           &kp LGUI  &kp LALT  &mo 1    &kp SPACE      &bspc_del   &mo 2   &kp RET   &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        control_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |     | INS | HOME | PG_UP|      |                   |      |       |   ^   |  >=   | VOL_DN| VOL_UP |
// |  TAB  |     | DEL |  END | PG_DN|      |                   |      |   <-  |   V   |  ->   |       |        |
// | SHIFT |     |     |      |      |      |                   |      |       |       |       |       | RSHFT  |
// | CTRL  | BT1 | BT2 |  BT3 |  BT4 |  BT5 |        |  |       |      |       |BT CLR | BRI_DN| BRI_UP| RCTRL  |
//                     | ALT  | GUI  | LOWER|  SPACE |  | BKSPC | RAISE| BTCLR | RALT  |
            bindings = <
&kp ESC    &trans        &kp INS       &kp HOME      &kp PG_UP     &trans                                     &trans    &trans     &kp UP     &kp C_PP     &kp C_VOL_DN &kp C_VOL_UP
&kp TAB    &trans        &kp DEL       &kp END       &kp PG_DN     &trans                                     &trans    &kp LEFT   &kp DOWN   &kp RIGHT    &trans       &trans
&kp LSHFT  &trans        &trans        &trans        &trans        &trans                                     &trans    &trans     &trans     &trans       &trans       &kp RSHFT
&kp LCTRL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     &trans       &tog QWERTY  &trans    &trans     &bt BT_CLR &kp C_BRI_DN &kp C_BRI_UP &kp RCTRL
                                       &kp LGUI      &kp LALT      &mo 1            &kp SPACE    &kp BSPC     &mo 2     &kp RET    &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        numchar_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  $  |  {  |  }   |  |   |      |                   |      |   7   |   8   |  9   |  DIV  |        |
// |  TAB  |  #  |  ([ |  )]  |  \   |  /   |                   |      |   4   |   5   |  6   |   *   |        |
// | SHIFT |  &  |  <  |  >   |      |      |                   |      |   1   |   2   |  3   |   -   | RSHFT  |
// | CTRL  |  @  |  ~  |  `   |      |      |        |  |       |      |   0   |   =   |  ^   |   +   | RCTRL  |
//                     | ALT  | GUI  | LOWER|  SPACE |  | BKSPC | RAISE|  ENT  | BTCLR |
            bindings = <
&kp ESC    &kp DLLR  &kp LBRC   &kp RBRC   &kp PIPE   &trans                            &trans     &kp N7   &kp N8       &kp N9     &kp KP_DIVIDE    &trans
&kp TAB    &kp HASH  &lpar_lbkt &rpar_rbkt &kp BSLH   &kp FSLH                          &trans     &kp N4   &kp N5       &kp N6     &kp KP_MULTIPLY  &trans
&kp LSHFT  &kp AMPS  &kp LT     &kp GT     &trans     &trans                            &trans     &kp N1   &kp N2       &kp N3     &kp KP_SUBTRACT  &kp RSHFT
&kp LCTRL  &kp AT    &kp PRCNT  &kp TILDE  &kp GRAVE  &trans    &trans     &tog QWERTY  &trans     &kp N0   &kp KP_EQUAL &kp CARET  &kp KP_PLUS      &kp RCTRL
                                &kp LGUI   &kp LALT   &mo 1     &kp SPACE  &kp BSPC     &mo 2      &kp RET  &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        qwerty_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  TOG  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| &bt BT_CLR | GUI   |
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                        &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp GRAVE
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                         &kp Y  &kp U    &kp I     &kp O   &kp P    &kp MINUS
&kp LSHFT &kp A  &kp S  &kp D    &kp F    &kp G                         &kp H  &kp J    &kp K     &kp L   &kp SEMI &kp RSHFT
&kp LCTRL &kp Z  &kp X  &kp C    &kp V    &kp B  &kp LBKT   &tog QWERTY &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &kp RCTRL
                        &kp LGUI  &kp LALT  &mo 1    &kp SPACE      &bspc_del   &mo 2   &kp RET   &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
